# Dependencies
node_modules
package-lock.json

# Build output
dist
build
coverage

# Cache
.cache
.npm
.eslintcache

# System files
.DS_Store

# Logs
*.log

# Environment variables
.env*

# Geojson files
*.geojson
ressources/geojson